node_modules/
server/node_modules/
server/data/
server/.env
.env
firmware/.pio/
firmware/.vscode/.browse.c_cpp.db*
firmware/.vscode/c_cpp_properties.json
firmware/.vscode/launch.json
firmware/.vscode/extensions.json
*.log
*.db
